<footer>
    <div class="request">
            <div class="container">
                <a href="#" class="logo">
                    <img src="../img/logo-2.png" alt="logo">
                </a>
                <p>Будьте всегда в курсе наших новостей</p>
                <form>
                    <input type="email" placeholder="Ваш email" required>
                    <input type="submit" class="btn" value="Отправить">
                </form>
            </div>
        </div>
    <div class="footer-top">
        <div class="container">
            <div class="info">
                <p>Мы подберем вам<br>качественное и доступное <br> оборудование </p>   
                <ul class="social">
                    <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-whatsapp" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                </ul>   
            </div>       
            <div class="footer-nav">
                <h3>Навигация</h3>
                <ul>
                    <li class="active"><a href="#">О компании </a></li>
                    <li><a href="#">Услуги </a></li>
                    <li><a href="#">Каталог</a></li>
                    <li><a href="#">Партнеры </a></li>
                    <li><a href="#">Новости </a></li>
                    <li><a href="#">Контакты</a></li>
                </ul>
            </div>
            <div class="footer-cat">
                <h3>Каталог</h3>
                <ul class="check--list">
                    <li class="active"><a href="#">Кофемашины рожковые<br> профессиональные</a></li>
                    <li><a href="#">Суперавтоматы<br>профессиональные</a></li>
                    <li><a href="#">Кофейные зерна</a></li>
                    <li><a href="#">Кофемолки</a></li>
                    <li><a href="#">Аксессуары бариста</a></li>
                </ul>
            </div> 
            <div class="footer-hts">
                <h3>Контакты</h3>
                <div class="col--address">
                    <p>Казахстан, Алматы,<br> Жансугурова, 176</p>
                    <p>Казахстан, г. Нур-Султан<br>прт.Жениса 17 А</p>
                    <p>Казахстан, г. Шымкент<br> прт.Жениса 17 А</p>
                </div>
                <div class="col--phone phones">
                    <a href="#">+7 (778) 188 83 78</a>
                    <a href="#" class="more--btn"></a>
                    <ul>
                        <li><a href="#">+7 (778) 188 83 78</a></li>
                        <li><a href="#">+7 (778) 188 83 78</a></li>
                        <li><a href="#">+7 (778) 188 83 78</a></li>
                    </ul>
                </div>
                <a href="#" class="col--email">kairatovtime@gmail.com</a>
            </div>       
        </div>
    </div>

    <div class="footer-bottom">
        <div class="container">
            <p>Copyright © 2018 world-of-coffee-machines.kz.All Rights Reserved</p>
            <a href="https://artmedia.kz" target="_blank" class="artmedia">Создание сайта - <img src="img/artmedia.png"></a>
        </div>
    </div>

</footer>