<header>
    <a href="#" class="nav--btn">
        <span></span>
        <span></span>
        <span></span>
    </a>
    <a href="#" class="phone--btn"></a>
    <a href="index.html" class="logo">
        <img src="img/logo.png">
    </a>
    <div class="top">
        <div class="container">
            <div class="col--address">
                <p>Алматы</p>
                <a href="#" class="more--btn"></a>
                <ul>
                    <li>Казахстан, Алматы,Жансугурова, 176</li>
                    <li>Казахстан, Алматы,Жансугурова, 176</li>
                </ul>
            </div>
            <div class="col--address">
                <p>Нур-Султан</p>
                <a href="#" class="more--btn"></a>
                <ul>
                    <li>Казахстан, Алматы,Жансугурова, 176</li>
                    <li>Казахстан, Алматы,Жансугурова, 176</li>
                </ul>
            </div>
            <div class="col--address">
                <p>Шымкент</p>
                <a href="#" class="more--btn"></a>
                <ul>
                    <li>Казахстан, Алматы,Жансугурова, 176</li>
                    <li>Казахстан, Алматы,Жансугурова, 176</li>
                </ul>
            </div>
            <a href="#" class="col--email">kairatovtime@gmail.com</a>
            <div class="col--phone phones">
                <a href="#">+7 (778) 188 83 63</a>
                <a href="#" class="more--btn"></a>
                <ul>
                    <li><a href="#">+7 (778) 188 83 63</a></li>
                    <li><a href="#">+7 (778) 188 83 63</a></li>
                    <li><a href="#">+7 (778) 188 83 63</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="bottom">
        <div class="container">
            <ul class="nav">
                <li class="active"><a href="about.html">О компании</a></li>
                <li><a href="#">Услуги</a></li>
                <li><a href="cat.html">Каталог</a></li>
                <li><a href="#">Партнеры</a></li>
                <li><a href="#">Новости</a></li>
                <li><a href="contacts.html">Контакты</a></li>
            </ul>
            <div class="search">
                <a href="#" class="search--btn"></a>
                <form>
                    <input type="search" placeholder="Поиск по сайту...">
                    <span class="close-btn"></span>
                </form>
            </div>
            <div class="langs">
                <span>Рус</span>
                <a href="#" class="more--btn"></a>
                <ul>
                    <li class="active"><a href="#">Рус</a></li>
                    <li><a href="#">Каз</a></li>
                    <li><a href="#">Eng</a></li>
                </ul>
            </div>
            <a href="#" class="call btn"  data-modal="#modal--call">Заказать звонок</a>
        </div>
    </div>
</header>